*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: aquamarine;
}

header{
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 1px 1px 10px black;
}

main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 30px;
    box-shadow: -1px -1px 10px black;
}

#grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35%;
    margin-inline: auto;
}

.square{
    border: 1px solid black;
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    cursor: pointer;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}

.active{
    background-color: white;
}

.btn{
    padding: 5px 10px;
    background-color: lightgrey;
    border-radius: 100vmax;
}
